@media screen and (min-width: 800px) {
  .content__hero-mobile {
    display: none;
  }

  .hero {
    display: block;
    width: 100%;
  }

  .hero__img {
    object-fit: cover;
    object-position: center;
    height: 100%;
    width: 100%;
  }

  .page-container {
    display: grid;
    grid-template-columns: 1.75fr 1.25fr;
    height: 100vh;
  }

  .content {
    padding: 10% 15rem 20% 10rem;
    display: grid;
    grid-template-rows: 1fr 3fr;
    background: no-repeat left center/cover url(./images/bg-pattern-desktop.svg);
  }

  .content__logo {
    padding: 0 0 0 0;
  }

  .content__container {
    padding: 1rem 0 0 0;
    align-self: center;
  }

  .content__heading {
    text-align: left;
    font-size: 4em;
    letter-spacing: 20px;
  }

  .content__copy {
    text-align: left;
    font-size: 1em;
  }

  .content__form--invalid::after {
    padding: 0 8.5rem 0 0;
  }

  .content__form-input {
    padding: 1.1rem 1.4rem;
    font-size: 1em;
    border-radius: 30px;
  }

  .content__form-btn {
    padding: 0.5rem 2.8rem;
    border-radius: 30px;
  }
}

@media screen and (min-width: 1900px) {
  .content__heading {
    padding-right: 20rem;
  }
}
