@use "variables" as var;

body {
  background: var.$clr-gradient-grey;
}

.hero {
  display: none;
}

.content__logo {
  padding: 1.75rem;
  max-width: 42.5%;
}

.content__hero-mobile {
  width: 100%;
}

.content__container {
  padding: 4rem 2rem;
}

.content__heading {
  text-align: center;
  font-size: 2.5em;
  letter-spacing: 10px;
  text-transform: uppercase;
  color: var.$clr-red-100;
  font-weight: var.$font-weight-light;

  &--bold {
    font-weight: var.$font-weight-bold;
    color: var.$clr-red-900;
  }
}

.content__copy {
  text-align: center;
  color: var.$clr-red-100;
  padding: 1.25rem 0 0 0;
  font-size: 0.9em;
  line-height: 1.6;
}

.content__form {
  padding: 2rem 0 0 0;
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;

  &--invalid {
    &::after {
      content: url(./images/icon-error.svg);
      position: absolute;
      top: 55%;
      right: 0;
      padding: 0 6.5rem 0 0;
      width: 25px;
      height: 25px;
    }
  }
}

.content__form-input {
  flex-grow: 1;
  padding: 1rem 1.2rem;
  border: 2px solid rgba(var.$clr-red-100, 0.3);
  background-color: transparent;
  color: var.$clr-red-900;
  border-right: 0;
  border-radius: 25px;

  &::placeholder {
    color: rgba(var.$clr-red-100, 0.5);
    font-weight: var.$font-weight-primary;
  }

  &--invalid {
    border: 2px solid var.$clr-red-500;
  }
}

.content__form-btn {
  margin-left: -3.6rem;
  padding: 0.5rem 1.65rem;
  border-radius: 25px;
  border: 0;
  background: var.$clr-gradient-red;
  line-height: 0;
  box-shadow: 0px 36px 41px -15px rgba(0, 0, 0, 0.1), 0px 10px 15px -3px rgba(0, 0, 0, 0.1);

  &:hover {
    box-shadow: 0px 36px 41px -15px rgba(0, 0, 0, 0.17), 0px 10px 15px -3px rgba(0, 0, 0, 0.17);
    background: lighten($color: var.$clr-red-500, $amount: 20);
  }
}

.content__form-error {
  display: none;
  padding: 1rem 0 0 1.25rem;
  color: var.$clr-red-500;
  font-size: 0.85em;
  font-weight: var.$font-weight-primary;

  &--visible {
    display: block;
  }
}
