// Colours
$clr-red-100: hsl(0, 36%, 70%);
$clr-red-500: hsl(0, 93%, 68%);
$clr-red-900: hsl(0, 6%, 24%);
$clr-gradient-grey: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
$clr-gradient-red: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));

// Fonts
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");
$font-family-primary: "Josefin Sans", sans-serif;
$font-weight-light: 300;
$font-weight-primary: 400;
$font-weight-bold: 600;
